# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Virtual environments
.venv/
venv/
env/
ENV/
code-prime-venv/

# Distribution / packaging
dist/
build/
*.egg-info/
*.egg
.eggs/

# Testing
.pytest_cache/
.coverage
htmlcov/
*.cover

# Logs
*.log

# IDE / editors
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# MyPy
.mypy_cache/

# SQL files
*.sql
